ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DarkOliveGreen;
   font-size: 25px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}
  

.jumbotron {
  padding-bottom: 100px;
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 800px;
  height: 800px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #0e48ad;
}

a:focus,
a:hover {
  color: #123294=;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

h1{
  color: white;
  text-decoration: none;
  text-align: center;
  position: relative;
  padding-top: 10px;
  font-size: 3.0rem;
}
.h--alt {
  font-weight: 300;
  margin-top: 0;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
a {
  color: #0e48ad;
}
a:focus,
a:hover {
  color: #123294;
}
.jumbotron.cardHero {
  border-radius: 0;
  background: transparent;
  position: relative;
  color: #FAEBD7;
  letter-spacing: 0.02em;
  padding-top: 300px;
}

.jumbotron.cardHero p {
  font-size: 16px;
}

.cardHeroWrap {
  background-color: #000;
  position: relative;
  margin: 0;
}

.cardHeroMask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}

.cardHeroWrap .btn {
  border-radius: 0;
  font-size: 16px;
  padding: 6px 14px;
}

.cardHeroWrap .btn {
  background-color: #cfb87c;
  color: #222;
  border: 0px solid transparent;
}

.cardHeroWrap .btn-lg:hover {
  background-color: #c8ad6a;
}

	* {
		margin: 0;
		padding: 0;
	}

	.navbar {
				   
			display: flex;
			align-items: left;
			justify-content: left;
			position: sticky;
			top: 0;
			cursor: pointer;
		}

		.background {

			background: blue;
			background-blend-mode: dark;
			background-size: cover;
		}

	.nav-list {
		width: 70%;
		display: flex;
		align-items: center;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo img {
		width: 180px;
		border-radius: 50px;
	}

	.nav-list li {
		list-style: none;
		padding: 26px 30px;
	}

	.nav-list li a {
		text-decoration: none;
		color: white;
	}

	.nav-list li a:hover {
		color: grey;
	}

	.rightnav {
		width: 30%;
		text-align: right;
	}

	#search {
		padding: 5px;
		font-size: 17px;
		border: 2px solid grey;
		border-radius: 9px;
	}

	.firstsection {
		background-color: green;
		height: 400px;
	}

	.secondsection {
		background-color: blue;
		height: 400px;
	}

	.box-main {
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		max-width: 80%;
		margin: auto;
		height: 80%;
	}

	.firsthalf {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.secondhalf {
		width: 30%;
	}

	.secondhalf img {
		width: 70%;
		border: 4px solid white;
		border-radius: 150px;
		display: block;
		margin: auto;
	}

	.text-big {
		font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 35px;
	}

	.text-small {
		font-size: 18px;
	}

	.btn {
		padding: 8px 20px;
		margin: 7px 0;
		border: 2px solid white;
		border-radius: 8px;
		background: none;
		color: white;
		cursor: pointer;
	}

	.btn-sm {
		padding: 6px 10px;
		vertical-align: middle;
	}

	.section {
		height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 90%;
		margin: auto;
	}

	.section-Left {
		flex-direction: row-reverse;
	}

	.paras {
		padding: 0px 65px;
	}

	.thumbnail img {
		width: 250px;
		border: 2px solid black;
		border-radius: 26px;
		margin-top: 19px;
	}

	.center {
		text-align: center;
	}

	.text-footer {
		text-align: center;
		padding: 30px 0;
		font-family: 'Ubuntu', sans-serif;
		display: flex;
		justify-content: center;
		color: white;
	}
	</style>

